@import url(./reset.css);
@import url(./fonts.css);
body {
    font-family: "Lato", sans-serif;
    color: #2f302c;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1422px;
    margin: 0 auto;
}
.header__container {
    padding: 82px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
[class*="__title"] {
    margin-bottom: 36px;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.25;
    text-transform: uppercase;
}
.header__subtitle {
    color: #7e7f7c;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
}
.main__container {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    padding: 0 15px;
}
.main-info {
    width: 712px;
    flex-grow: 1;
}
.main__form {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.main__text {
    color: #7e7f7c;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.main__text-link {
    font-weight: 700;
    color: #2f302c;
    cursor: pointer;
}
.main__text-link:hover {
    text-decoration: underline;
}
.main__inputs-row {
    display: flex;
    gap: 40px;
}
input[class*="main__input"] {
    color: #2f302c;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    padding: 12px 0;
    outline: none;
    border-bottom: 1px solid #d4d4d4;
    height: 44px;
}
input[class*="main__input"]::placeholder {
    color: #7e7f7c;
}
.main-img {
    flex-basis: 600px;
    height: 496px;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
}
.main-img__badge {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    background-color: #ce0000;
    width: 51px;
    border-radius: 4px;
    text-align: center;
    padding: 4px 8px;
}
.main-img__text {
    color: #2f302c;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.25;
    left: 13.33%;
}
.footer {
    display: flex;
    justify-content: center;
}
.main__form-button {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    width: 336px;
    background-color: #2f302c;
    cursor: pointer;
    padding: 12px;
}
.main__inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main-img img {
    position: absolute;
    right: 50px;
    z-index: 2;
    max-width: 100%;
}
.main-img__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 224px;
    left: 80px;
    width: 30.66%;
    z-index: 3;
}
footer {
    padding: 40px 0;
}
