@import url(./reset.css);
@import url(./fonts.css);
body {
    font-family: "Lato", sans-serif;
    color: #2f302c;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1422px;
    margin: 0 auto;
    padding: 0 15px;
}
.main {
    padding-top: 82px;
}
.products,
.logos,
.cards,
.advantages {
    margin-bottom: 164px;
}
.products {
    display: grid;
    gap: 36px;
    grid-template-columns: minmax(190px, 321px) minmax(320px, 678px) minmax(190px, 321px);
}
.products__card {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    position: relative;
}
.products__card--left {
    padding: 0px 32px 0px 32px;
}
.products__img--lamps {
    margin-bottom: 136px;
    flex-grow: 1;
    padding-left: 48px;
}
.products__img--sofa {
    position: relative;
}
.products__card--central {
    background-color: #e6efea;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 51px;
    position: relative;
}
.products__card--right {
    padding: 48px 0px 0px 36px;
}
.products__card--right .products__more {
    margin-bottom: 96px;
}
.products__img--chair {
    justify-content: end;
    display: flex;
}
.products__img {
    max-width: 100%;
}
img {
    max-width: 100%;
    object-fit: contain;
}
.products__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.products__card--right .products__text {
    padding-right: 46px;
}
.products__text {
    color: #7e7f7c;
    font-weight: 500;
    line-height: 1.25;
    margin: 0 auto 38px;
}
.products__card--central .products__text {
    max-width: 310px;
    margin: 0 auto 18px;
}
.products__card--central .products__more {
    margin-bottom: 97px;
}
.products__more {
    margin-bottom: 64px;
    color: #7e7f7c;
    flex-grow: 1;
}
.products__more::after {
    content: "";
    background-image: url("../img/chevron.svg");
    width: 6px;
    height: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-left: 8px;
}
.title {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
}

/*Section 2*/
.logos {
    display: grid;
    grid-template-columns: repeat(6, minmax(120px, 170px));
    gap: 68px 74px;
    justify-content: center;
}
.title--logos,
.title--advanteges {
    margin-bottom: 72px;
}
/*section 3 */
.title--list {
    margin-bottom: 36px;
}
.list {
    gap: 48px;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.list__item {
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    position: relative;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}
.card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.card__img {
    max-width: 100%;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-grow: 1;
}
.card a {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card__title {
    font-weight: 500;
    line-height: 1.25;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: center;
}
.card__stars {
    display: flex;
    justify-content: center;
    gap: 12px 8px;
}
.card__star {
    max-width: 100%;
}
.card {
    transition: transform 0.3s ease;
    height: 100%;
}
.card__price {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.4;
}
/*section 4*/
.advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 68px;
    padding: 0px 106px;
}
.advantage {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}
.advantage__img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.advantage__title {
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
}
.advantage__text {
    color: #7e7f7c;
    font-weight: 500;
    line-height: 1.25;
}
.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.footer__container {
    color: #7e7f7c;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 1.25;
}

.list__item::after {
    content: "";
    width: 0%;
    display: block;
    background-color: #2f302c;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    transition: width 0.3s ease;
}
/*breakpoints*/
@media (any-hover: hover) {
    .list__item:hover::after {
        width: 100%;
    }
    .card:hover {
        transform: scale(1.05);
    }
}
@media (max-width: 1199.98px) {
    .products__card--left {
        padding: 0px 20px 0px 15px;
    }
    .products__img--lamps {
        padding-left: 28px;
    }
    .products__card--right {
        padding: 48px 0px 0px 16px;
    }
    .products__card--right .products__text {
        padding-right: 16px;
    }
    .logos {
        gap: 68px 54px;
    }
    .advantages {
        gap: 60px;
        padding: 0px 100px;
    }
}
@media (max-width: 999.98px) {
    .products {
        gap: 30px;
    }
    .products__img--lamps {
        padding-left: 8px;
    }
    .logos {
        grid-template-columns: repeat(4, minmax(120px, 170px));
    }
    .advantages {
        gap: 60px;
        padding: 0px 85px;
    }
}
@media (max-width: 799.98px) {
    .products {
        gap: 20px;
    }
    .products__card--left {
        padding: 0px 15px 0px 10px;
    }
    .products__card--right {
        padding: 48px 0px 0px 10px;
    }
    .advantages {
        padding: 0px 75px;
    }
}
@media (max-width: 767.98px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
    .products__card:nth-child(even) {
        grid-column: span 2;
        order: 1;
    }
    .products__card:nth-child(odd) {
        order: 2;
    }
    .main {
        padding-top: 20px;
    }
    .logos {
        gap: 48px 54px;
    }
    .products,
    .logos,
    .cards,
    .advantages {
        margin-bottom: 100px;
    }
    .advantages {
        gap: 55px;
        padding: 0px 50px;
    }
    .advantage {
        gap: 20px;
    }
    .footer {
        margin-bottom: 50px;
    }
}
@media (max-width: 679.98px) {
    .logos {
        grid-template-columns: repeat(3, minmax(100px, 140px));
    }
    .logos {
        gap: 28px 54px;
    }
    .card__title {
        font-size: 14px;
    }
    .cards {
        gap: 30px;
    }
    .advantages {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 559.98px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .advantages {
        gap: 40px;
        padding: 0px 35px;
    }
    .list {
        gap: 40px;
    }
}
@media (max-width: 479.98px) {
    .advantages {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 55px;
    }
    .list {
        gap: 30px;
        padding: 0px 15px;
    }
    .products,
    .logos,
    .cards,
    .advantages {
        margin-bottom: 60px;
    }
    .list {
        margin-bottom: 50px;
    }
    .logos {
        grid-template-columns: repeat(2, minmax(100px, 145px));
        gap: 25px 45px;
    }
}
@media (max-width: 420.98px) {
    .list {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 0.5fr));
    }
    .list__item {
        justify-self: center;
    }
}
@media (max-width: 379.98px) {
    .advantages {
        padding: 0 45px;
    }
    .logos {
        gap: 25px 35px;
    }
    .title--logos,
    .title--advanteges {
        margin-bottom: 52px;
    }
    .products {
        grid-template-columns: 1fr;
    }
    .products__card:nth-child(even) {
        grid-column: span 1;
        order: 2;
    }
    .products__card:nth-child(odd) {
        order: 1;
    }
    .list {
        gap: 20px;
    }
    .list__item {
        text-align: center;
    }
    .footer {
        margin-bottom: 40px;
    }
}
